@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,400italic,500,700);
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/*------------------------------------------------------------------
[Color Scheme / Colors, textures]
*/
.e-bg-light-texture {
  background: url("../images/backgrounds/dark_fish_skin.png"); }

.color01 {
  color: #ffffff !important; }

.color02 {
  color: #f7f7f7 !important; }

.color03 {
  color: #efefef !important; }

.color04 {
  color: #e7e7e7 !important; }

.color05 {
  color: #dfdfdf !important; }

.color06 {
  color: #d7d7d7 !important; }

.color07 {
  color: #cfcfcf !important; }

.color08 {
  color: #c7c7c7 !important; }

.color09 {
  color: #bfbfbf !important; }

.color10 {
  color: #b7b7b7 !important; }

.color11 {
  color: #afafaf !important; }

.color12 {
  color: #a7a7a7 !important; }

.color13 {
  color: #9f9f9f !important; }

.color14 {
  color: #979797 !important; }

.color15 {
  color: #8f8f8f !important; }
  .color15 a {
    color: #8f8f8f; }
    .color15 a:hover {
      color: #e74c3c; }

.color16 {
  color: #878787 !important; }

.color17 {
  color: #7f7f7f !important; }

.color18 {
  color: #777777 !important; }

.color19 {
  color: #6f6f6f !important; }

.color20 {
  color: #676767 !important; }

.color21 {
  color: #5f5f5f !important; }

.color22 {
  color: #575757 !important; }

.color23 {
  color: #4f4f4f !important; }

.color24 {
  color: #474747 !important; }

.color25 {
  color: #3f3f3f !important; }

.color26 {
  color: #373737 !important; }

.color27 {
  color: #2f2f2f !important; }

.color28 {
  color: #272727 !important; }

.color29 {
  color: #1f1f1f !important; }

.color30 {
  color: #171717 !important; }

.color31 {
  color: #0f0f0f !important; }

.color32 {
  color: #070707 !important; }

.color-red {
  color: #e74c3c !important; }

.color-orange {
  color: #e67e22 !important; }

.color-green {
  color: #1abc9c !important; }

.color-blue {
  color: #3498db !important; }

.color-darkblue {
  color: #1c4a6c !important; }

.color-cyan {
  color: #9b59b6 !important; }

.color-yellow {
  color: #d9a81d !important; }

.color-rose {
  color: #e798ac !important; }

.color-darkrose {
  color: #e17f98 !important; }

.red {
  background-color: #e74c3c !important; }

.orange {
  background-color: #e67e22 !important; }

.green {
  background-color: #1abc9c !important; }

.blue {
  background-color: #3498db !important; }

.darkblue {
  background-color: #1c4a6c !important; }

.cyan {
  background-color: #9b59b6 !important; }

.yellow {
  background-color: #d9a81d !important; }

.l-grey {
  background-color: #f2f2f2 !important; }

.grey {
  background-color: #999 !important; }

.fontcolor-regular, .fontcolor-regular a {
  color: #171717 !important; }

.fontcolor-invert, .fontcolor-invert a {
  color: #ffffff !important; }

.fontcolor-medium, .fontcolor-medium a {
  color: #676767 !important; }

.fontcolor-medium-light {
  color: #8f8f8f !important; }
  .fontcolor-medium-light a {
    color: #8f8f8f !important; }
    .fontcolor-medium-light a:hover, .fontcolor-medium-light a:focus {
      color: #e74c3c !important; }

.hovercolor, .hovercolor a {
  color: #e74c3c !important; }

.accent-color, .accent-color a {
  color: #007EA7 !important; }

.accent-color a:hover {
  color: #e74c3c !important; }

.bg-color01 {
  background-color: #ffffff !important; }

.bg-color02 {
  background-color: #f7f7f7 !important; }

.bg-color03 {
  background-color: #efefef !important; }

.bg-color04 {
  background-color: #e7e7e7 !important; }

.bg-color05 {
  background-color: #dfdfdf !important; }

.bg-color06 {
  background-color: #d7d7d7 !important; }

.bg-color07 {
  background-color: #cfcfcf !important; }

.bg-color08 {
  background-color: #c7c7c7 !important; }

.bg-color09 {
  background-color: #bfbfbf !important; }

.bg-color10 {
  background-color: #b7b7b7 !important; }

.bg-color11 {
  background-color: #afafaf !important; }

.bg-color12 {
  background-color: #a7a7a7 !important; }

.bg-color13 {
  background-color: #9f9f9f !important; }

.bg-color14 {
  background-color: #979797 !important; }

.bg-color15 {
  background-color: #8f8f8f !important; }

.bg-color16 {
  background-color: #878787 !important; }

.bg-color17 {
  background-color: #7f7f7f !important; }

.bg-color18 {
  background-color: #777777 !important; }

.bg-color19 {
  background-color: #6f6f6f !important; }

.bg-color20 {
  background-color: #676767 !important; }

.bg-color21 {
  background-color: #5f5f5f !important; }

.bg-color22 {
  background-color: #575757 !important; }

.bg-color23 {
  background-color: #4f4f4f !important; }

.bg-color24 {
  background-color: #474747 !important; }

.bg-color25 {
  background-color: #3f3f3f !important; }

.bg-color26 {
  background-color: #373737 !important; }

.bg-color27 {
  background-color: #2f2f2f !important; }

.bg-color28 {
  background-color: #272727 !important; }

.bg-color29 {
  background-color: #1f1f1f !important; }

.bg-color30 {
  background-color: #171717 !important; }

.bg-color31 {
  background-color: #0f0f0f !important; }

.bg-color32 {
  background-color: #070707 !important; }

/*------------------------------------------------------------------
[Typography]
*/
/* Headings Fonts variables */
/* Heading font one */
.font-accident-one-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal; }

.font-accident-one-normal {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal; }

/* Heading font two */
.font-accident-two-light {
  font-family: "Dosis", sans-serif;
  font-weight: 300; }

.font-accident-two-normal {
  font-family: "Dosis", sans-serif;
  font-weight: 400; }

.font-accident-two-medium {
  font-family: "Dosis", sans-serif;
  font-weight: 500; }

.font-accident-two-bold {
  font-family: "Dosis", sans-serif;
  font-weight: 700; }

/* Regular font */
.font-regular-light {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: normal; }

.font-regular-normal {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal; }

.font-regular-normal-italic {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: oblique; }

.font-regular-medium {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal; }

.font-regular-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal; }

/* Headings */
h2 {
  font-size: 48px; }

h3 {
  line-height: 1.2em;
  font-size: 32px; }

h4 {
  letter-spacing: 3px; }

h5 {
  letter-spacing: 3px; }

h6 {
  font-size: 11px;
  letter-spacing: 3px; }

h4 a, h5 a, h6 a {
  color: #e74c3c; }

.title {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  display: initial; }

.title-light {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: initial; }

/* Paragraphs */
.small {
  font-size: 12px; }

.extrasmall {
  font-size: 10px; }

.superheading {
  font-size: 48px; }

/*------------------------------------------------------------------
[Buttons]
*/
.btn-darker,
.btn-blk,
.btn-gr,
.btn-lgr,
.btn-lgr-str,
.btn-grey-str,
.btn-light,
.btn-wh,
.btn-wh-str,
.btn-rd,
.btn-rd-str,
.btn-wh-trans {
  letter-spacing: 0;
  border-radius: 2px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  margin-right: 12px;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out; }

.btn-darker {
  border: 1px solid #6f6f6f;
  background: #6f6f6f;
  color: #ffffff !important; }
  .btn-darker:hover {
    border: 1px solid #e74c3c;
    background: #e74c3c;
    color: #ffffff !important; }

.btn-blk {
  border: 1px solid #353535;
  background: #353535;
  color: #8f8f8f !important; }
  .btn-blk:hover {
    border: 1px solid #e74c3c;
    background: #e74c3c;
    color: #ffffff !important; }
  .btn-blk:focus {
    border: 1px solid #e74c3c;
    background: #e74c3c;
    color: #ffffff !important; }

.btn-gr {
  border: 1px solid #ffffff;
  color: #ffffff !important;
  background: #505050; }
  .btn-gr:hover {
    border: 1px solid #e74c3c;
    background: #e74c3c;
    color: #ffffff !important; }

.btn-lgr {
  border: 1px solid #e7e7e7;
  background: #e7e7e7;
  color: #ffffff !important; }
  .btn-lgr:hover {
    border: 1px solid #e74c3c;
    background: #e74c3c;
    color: #ffffff !important; }

.btn-lgr-str {
  background: none;
  border: 2px solid #e7e7e7;
  color: #e7e7e7 !important; }
  .btn-lgr-str:hover {
    background: none;
    border: 2px solid #e74c3c;
    color: #e74c3c !important; }

.btn-grey-str {
  background: none !important;
  border: 2px solid #bfbfbf;
  color: #bfbfbf !important; }
  .btn-grey-str:hover {
    background: none;
    border: 2px solid #e74c3c;
    color: #e74c3c !important; }

.btn-light {
  background: #efefef;
  border: 1px solid #efefef;
  color: #bfbfbf !important; }
  .btn-light:hover {
    background: #e74c3c;
    border: 1px solid #e74c3c;
    color: #ffffff !important; }

.btn-wh-str {
  background: none;
  border: 2px solid #ffffff;
  color: #ffffff !important; }
  .btn-wh-str:hover {
    background: none;
    border: 2px solid #e74c3c;
    color: #e74c3c !important; }

.btn-wh {
  background: #ffffff;
  border: 2px solid #ffffff;
  color: #bfbfbf !important; }
  .btn-wh:hover {
    background: #e74c3c;
    border: 2px solid #e74c3c;
    color: #ffffff !important; }

.btn-rd {
  border: 1px solid #e74c3c;
  color: #ffffff !important;
  background: #e74c3c; }
  .btn-rd:hover {
    border: 1px solid #ec1717;
    background: #ec1717;
    color: #ffffff !important; }

.btn-rd-str {
  background: none;
  border: 2px solid #e74c3c;
  color: #e74c3c !important; }
  .btn-rd-str:hover {
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff !important; }

.btn-wh-trans {
  margin-top: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  color: rgba(255, 255, 255, 0.8) !important; }
  .btn-wh-trans:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff !important; }

.btn-lg {
  font-size: 15px; }

.btn-default {
  font-size: 13px; }

.btn-sm {
  font-size: 12px; }

.btn-xs {
  font-size: 11px;
  padding: 3px 9px 2px 9px; }

/*------------------------------------------------------------------
[4. Basic Styles]
*/
body {
  display: block;
  background-color: #bfbfbf;
  overflow-x: hidden;
  overflow-y: auto;
  color: #2f2f2f;
  font: 13px/1.7 "Raleway", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden; }

.boxed {
  display: block;
  background-color: #676767;
  position: relative;
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 20px 4px; }
  .boxed header {
    margin: 16px 0 0 0; }
  .boxed footer {
    margin: 0 0 16px 0; }

#initial {
  background-image: url("../images/initial/bg-01.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

a,
a i,
a i:before {
  cursor: pointer;
  text-decoration: none;
  color: #2f2f2f;
  transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s; }

a:hover,
a:focus {
  text-decoration: none;
  outline: none; }

p {
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 10px 0;
  color: #2f2f2f;
  letter-spacing: 1px; }

hr {
  margin-bottom: 0;
  margin-top: 0;
  border-top: 1px solid #f1f1f1;
  border-bottom: none;
  border-left: none;
  border-right: none; }

ul {
  padding-left: 0;
  list-style: none;
  margin-left: 0; }
  ul li {
    padding: 0; }
    ul li a {
      cursor: pointer;
      color: #2f2f2f; }
  ul li, ul li a {
    font-size: 13px; }

ul.list-o {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.list-o li {
    padding-left: 1em;
    text-indent: -.7em; }
    ul.list-o li:before {
      padding-right: 4px;
      content: "O";
      color: #e74c3c; }

.dividewhite1 {
  height: 10px; }

.dividewhite2 {
  height: 20px; }

.dividewhite3 {
  height: 30px; }

.dividewhite4 {
  height: 40px; }

.dividewhite6 {
  height: 60px; }

.dividewhite8 {
  height: 80px; }

.dividewhite9 {
  height: 90px; }

.dividewhite10 {
  height: 100px; }

.divider-dynamic {
  height: 10px; }

.height-600 {
  min-height: 600px; }

.height-500 {
  min-height: 500px; }

.height-400 {
  min-height: 400px; }

.height-300 {
  min-height: 300px; }

.height-200 {
  min-height: 200px; }

.height-100 {
  min-height: 100px; }

.padding-30,
.padding-40,
.padding-50,
.padding-60 {
  overflow: hidden; }

.padding-30 {
  padding: 20px 30px 30px 20px; }

.padding-40 {
  padding: 30px 40px 30px 40px; }

.padding-50 {
  padding: 35px 50px 40px 50px; }

.padding-60 {
  padding: 50px 60px 50px 60px; }

.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.e-absolute {
  position: absolute !important; }

.e-relative {
  position: relative !important; }

.e-fixed {
  position: fixed !important; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.e-centered {
  margin: 0 auto; }

.table {
  display: table; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.uppercase {
  text-transform: uppercase; }

i {
  color: #b7b7b7; }

.hidden {
  display: none; }

.respon-wrap img {
  max-width: 100% !important;
  height: auto;
  display: block; }

.fullwidth {
  width: 100% !important; }

.width-90 {
  width: 90%; }

.width-80 {
  width: 80%; }

.width-70 {
  width: 70%; }

.width-60 {
  width: 60%; }

.width-50 {
  width: 50%; }

.width-40 {
  width: 40%; }

.width-30 {
  width: 30%; }

#back-top a {
  background: #bfbfbf url(../images/back_top.png) no-repeat 50% 50%;
  border: 1px solid #ffffff;
  bottom: 60px;
  display: block;
  height: 40px;
  position: fixed;
  right: 30px;
  width: 40px;
  z-index: 10;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out; }
  #back-top a:hover {
    background: #e74c3c url(../images/back_top.png) no-repeat 50% 50%;
    border-color: #e74c3c; }

input, textarea {
  border: 0;
  background: none !important;
  border: 1px solid #d7d7d7;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-indent: 5px;
  color: #fff;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s; }
  input:focus, textarea:focus {
    outline: 0;
    border-color: #b7b7b7; }

input, textarea, button {
  color: #777;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif; }

button, input, select, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
  font-size: 100%; }

:focus {
  outline: 0; }

::-webkit-input-placeholder {
  color: #7f7f7f; }

:-moz-placeholder {
  color: #7f7f7f; }

::-moz-placeholder {
  color: #7f7f7f;
  opacity: 1;
  /* Since FF19 lowers the opacity of the placeholder by default */ }

:-ms-input-placeholder {
  color: #7f7f7f; }

.e-block-big {
  padding: 160px 0 160px 0; }

.e-block-regular {
  padding: 130px 0 130px 0; }

.e-block-short {
  padding: 100px 0 100px 0; }

.e-block-null {
  margin: 0; }

.e-block-light {
  background: #ffffff;
  color: #b7b7b7; }
  .e-block-light p, .e-block-light h2, .e-block-light h3, .e-block-light h4, .e-block-light h5 {
    color: #b7b7b7; }
  .e-block-light a, .e-block-light .infoblock a {
    color: #b7b7b7; }
    .e-block-light a:hover, .e-block-light .infoblock a:hover {
      color: #e74c3c;
      text-decoration: none; }

.e-block-centered {
  text-align: center; }

.infoblock {
  margin: 0 0 24px 0; }
  .infoblock a:hover {
    text-decoration: none; }
  .infoblock .morelink {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 22px; }
    .infoblock .morelink a {
      text-decoration: none; }
      .infoblock .morelink a i {
        margin-left: 5px; }
  .infoblock .navlinks a {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 11px; }

/*------------------------------------------------------------------
[13. Media Query]
*/
@media (max-width: 1200px) {
  .boxed .content-wrap {
    margin: 0; }

  footer {
    margin: 0; } }
@media (max-width: 992px) {
  .count {
    margin-bottom: 32px !important; }

  ul.timeline-vert:before {
    left: 40px !important; }

  ul.timeline-vert > li > .timeline-panel {
    width: calc(100% - 90px) !important;
    width: -moz-calc(100% - 90px) !important;
    width: -webkit-calc(100% - 90px) !important; }

  ul.timeline-vert > li > .timeline-badge {
    left: 15px !important;
    margin-left: 0 !important;
    top: 16px !important; }

  ul.timeline-vert > li > .timeline-panel {
    float: right !important; }

  ul.timeline-vert > li > .timeline-panel:before {
    border-left-width: 0 !important;
    border-right-width: 15px !important;
    left: -15px !important;
    right: auto !important; }

  ul.timeline-vert > li > .timeline-panel:after {
    border-left-width: 0 !important;
    border-right-width: 14px !important;
    left: -14px !important;
    right: auto !important; }

  .divider-dynamic {
    height: 40px; }

  #top-navigation .ident .vc-name .position .pdf,
  #top-navigation .ident .vc-name .name .name-pdf {
    display: none; } }
@media (max-width: 801px) {
  .boxed header {
    margin: 0; }

  footer {
    margin: 0 !important; } }
@media (max-width: 768px) {
  .divider-dynamic {
    height: 60px; }

  .cd-intro {
    width: 100% !important;
    max-width: 768px; }

  .port-filter ul li {
    display: block;
    margin-bottom: 24px; }

  #homesection .m-details .quote {
    margin: 14px 0;
    padding-left: 0 !important;
    border-left: none !important; }

  .progressbar {
    width: 100% !important; }

  .circle {
    width: 90% !important; }

  #top-navigation .ident .vc-name .name h2 {
    font-size: 36px; }

  #top-navigation .ident .vc-name .name .name-title {
    padding-top: 24px;
    text-align: center; }

  #top-navigation .ident .vc-name .position h4 {
    font-size: 18px; }

  #top-navigation .ident .vc-name .position .position-title {
    padding-top: 30px;
    text-align: center; } }
@media (max-width: 600px) {
  .grid .row .grid-item {
    padding-right: 0 !important;
    padding-left: 0 !important; }

  .media-body, .media-left, .media-right {
    display: initial; } }
@media (max-width: 400px) {
  h5 {
    letter-spacing: 0; }

  .divider-dynamic {
    height: 40px; }

  .padding-50 {
    padding: 30px 14px 35px 14px; }

  .inner-content .inner-section {
    padding: 30px 14px !important; }

  ul.timeline-vert > li > .timeline-panel {
    width: 100% !important; }

  #timeline-vertical .timeline-vert .timeline-badge,
  #timeline-vertical .timeline-vert:before {
    display: none; }

  #timeline-vertical .timeline-vert .timeline-panel:before {
    border-color: transparent !important; }

  .cd-headline.clip .cd-words-wrapper::after {
    top: 2px !important; }

  #top-navigation .ident .vc-name .name h2 {
    font-size: 26px !important; }

  #top-navigation .ident .vc-name .name .name-title {
    padding-top: 34px !important; }

  #top-navigation .ident .vc-name .position h4 {
    font-size: 11px !important; }

  #top-navigation .ident .vc-name .position .position-title {
    padding-top: 40px !important; } }
/*------------------------------------------------------------------
[VCard Modules]
*/
.content-wrap {
  -webkit-overflow-scrolling: touch; }

#top-navigation {
  z-index: 3; }
  #top-navigation .ident {
    color: #e7e7e7; }
    #top-navigation .ident .vc-photo {
      min-height: 360px;
      background: url("../images/userpic01.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: url(../images/grayscale.svg#greyscale);
      /* Firefox 4+ */
      filter: gray;
      /* IE 6-9 */
      -moz-transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
      #top-navigation .ident .vc-photo a {
        width: 100%;
        height: 100%; }
    #top-navigation .ident:hover .vc-photo {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: none; }
    #top-navigation .ident .vc-name .name .name-title {
      padding: 17px 40px 18px 40px;
      min-height: 120px;
      max-height: 120px;
      overflow: hidden; }
    #top-navigation .ident .vc-name .name .name-pdf {
      background: rgba(0, 0, 0, 0.1);
      min-height: 120px;
      max-height: 120px;
      text-align: center; }
      #top-navigation .ident .vc-name .name .name-pdf a {
        width: 100%;
        text-decoration: none;
        color: #ffffff; }
        #top-navigation .ident .vc-name .name .name-pdf a i {
          padding-top: 24px;
          display: block; }
          #top-navigation .ident .vc-name .name .name-pdf a i:before {
            width: 100%;
            opacity: .6;
            color: #efefef;
            font-size: 40px;
            margin: 0;
            transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            -webkit-transition: all 0.35s ease-in-out;
            -o-transition: all 0.35s ease-in-out;
            -ms-transition: all 0.35s ease-in-out; }
        #top-navigation .ident .vc-name .name .name-pdf a:hover i:before {
          opacity: 1; }
    #top-navigation .ident .vc-name .name h2 {
      margin: 0;
      font-size: 40px;
      line-height: 2.1em; }
    #top-navigation .ident .vc-name .position {
      color: #efefef; }
      #top-navigation .ident .vc-name .position .position-title {
        background: rgba(0, 0, 0, 0.2);
        padding: 23px 40px 34px 40px;
        min-height: 120px;
        max-height: 120px; }
      #top-navigation .ident .vc-name .position .pdf {
        background: rgba(0, 0, 0, 0.3);
        min-height: 120px;
        max-height: 120px;
        text-align: center; }
        #top-navigation .ident .vc-name .position .pdf a {
          width: 100%;
          text-decoration: none;
          color: #ffffff; }
          #top-navigation .ident .vc-name .position .pdf a i {
            padding-top: 24px;
            display: block; }
            #top-navigation .ident .vc-name .position .pdf a i:before {
              width: 100%;
              opacity: .6;
              color: #efefef;
              font-size: 40px;
              margin: 0;
              transition: all 0.35s ease-in-out;
              -moz-transition: all 0.35s ease-in-out;
              -webkit-transition: all 0.35s ease-in-out;
              -o-transition: all 0.35s ease-in-out;
              -ms-transition: all 0.35s ease-in-out; }
          #top-navigation .ident .vc-name .position .pdf a:hover i:before {
            opacity: 1; }
      #top-navigation .ident .vc-name .position h4 {
        font-size: 24px;
        line-height: 1.8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: 2px; }
      #top-navigation .ident .vc-name .position p {
        font-size: 12px; }
  #top-navigation .menuitem {
    min-height: 120px;
    background: #546543;
    text-align: center; }
    #top-navigation .menuitem a {
      width: 100%;
      text-decoration: none;
      color: #ffffff; }
      #top-navigation .menuitem a i {
        padding-top: 10px;
        display: block; }
        #top-navigation .menuitem a i:before {
          color: rgba(255, 255, 255, 0.6);
          font-size: 40px;
          margin: 0; }
      #top-navigation .menuitem a span {
        display: block;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600; }

.hvr-sweep-to-bottom:before,
.hvr-sweep-to-right:before {
  height: 120px; }

.hvr-sweep-to-bottom:before {
  background: rgba(0, 0, 0, 0.2); }

.hvr-sweep-to-right:before {
  background: rgba(255, 255, 255, 0.1); }

.cd-intro {
  width: 90%;
  max-width: 768px; }

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left; }
  .cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    font-weight: 400;
    left: 0;
    top: 0; }
  .cd-words-wrapper b.is-visible {
    position: relative; }

.no-js .cd-words-wrapper b {
  opacity: 0; }

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1; }

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0; }

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top; }

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 6px;
  right: 0;
  width: 2px;
  height: 80%;
  background-color: #cfcfcf; }

.cd-headline.clip b {
  opacity: 0; }

.cd-headline.clip b.is-visible {
  opacity: 1; }

.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  position: absolute;
  padding: 13px;
  box-shadow: inset 2px -2px 0 0 #fff;
  cursor: pointer;
  -moz-transition: .15s;
  -o-transition: .15s;
  -webkit-transition: .15s;
  transition: .15s;
  margin-left: 0;
  border-left: 0;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg); }

.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  position: absolute;
  padding: 13px;
  box-shadow: inset 2px -2px 0 0 #fff;
  cursor: pointer;
  left: 50px;
  -moz-transition: .15s;
  -o-transition: .15s;
  -webkit-transition: .15s;
  transition: .15s;
  margin-left: 0;
  border-right: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.mfp-arrow-right:before,
.mfp-arrow-left:before {
  display: none; }

.progressbar {
  display: inline-block;
  width: 200px;
  margin: 25px; }

.circle {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  text-align: center; }
  .circle h5 {
    margin-top: 18px; }

.circle canvas {
  vertical-align: middle; }

.circle div {
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 24px; }

.circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal; }

.circle span {
  display: block;
  color: #aaa;
  margin-top: 12px; }

/* Vertical Timeline */
#timeline-vertical .btn {
  margin-right: 0; }
#timeline-vertical > div > div .btn-lgr-str {
  margin-right: 0 !important; }
#timeline-vertical .timeline-vert {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }
  #timeline-vertical .timeline-vert:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 1px;
    opacity: .5;
    left: 50%;
    margin-left: -0.5px; }
  #timeline-vertical .timeline-vert li {
    margin-bottom: 20px;
    position: relative; }
    #timeline-vertical .timeline-vert li:before, #timeline-vertical .timeline-vert li:after {
      content: " ";
      display: table; }
    #timeline-vertical .timeline-vert li:after {
      clear: both; }
    #timeline-vertical .timeline-vert li .timeline-photo {
      min-height: 120px; }
    #timeline-vertical .timeline-vert li .timeline-time {
      padding: 6px 14px;
      position: absolute;
      z-index: 9;
      -moz-transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
    #timeline-vertical .timeline-vert li:hover .timeline-photo {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: none; }
  #timeline-vertical .timeline-vert li.timeline-inverted > .timeline-panel {
    float: right; }
  #timeline-vertical .timeline-vert li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto; }
  #timeline-vertical .timeline-vert li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto; }
  #timeline-vertical .timeline-vert .timeline-badge {
    width: 45px;
    height: 45px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 19px;
    left: 50%;
    margin-left: -23px;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
    #timeline-vertical .timeline-vert .timeline-badge i:before {
      -moz-transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      font-size: 22px;
      left: -10px;
      top: -4px;
      position: relative; }
  #timeline-vertical .timeline-vert .timeline-panel {
    width: 46%;
    float: left;
    border-radius: 0;
    padding: 24px;
    position: relative;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
    #timeline-vertical .timeline-vert .timeline-panel:before {
      position: absolute;
      top: 26px;
      right: -15px;
      display: inline-block;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      content: " ";
      -moz-transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
    #timeline-vertical .timeline-vert .timeline-panel:after {
      position: absolute;
      top: 27px;
      right: -14px;
      display: inline-block;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
      content: " ";
      -moz-transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
    #timeline-vertical .timeline-vert .timeline-panel h4 {
      line-height: 1.3em; }
    #timeline-vertical .timeline-vert .timeline-panel h6 {
      padding-left: 14px;
      margin-bottom: 12px; }
    #timeline-vertical .timeline-vert .timeline-panel h4, #timeline-vertical .timeline-vert .timeline-panel h6 {
      -moz-transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }

.timeline-dark:before {
  background-color: #efefef; }
.timeline-dark .timeline-badge {
  color: #bfbfbf;
  background: #d7d7d7; }
  .timeline-dark .timeline-badge i:before {
    color: #bfbfbf; }
.timeline-dark .timeline-panel {
  background: #d4d4d4; }
  .timeline-dark .timeline-panel:before {
    border-left: 15px solid #d4d4d4;
    border-right: 0 solid #d4d4d4; }
  .timeline-dark .timeline-panel:after {
    border-left: 14px solid #d4d4d4;
    border-right: 0 solid #d4d4d4; }
  .timeline-dark .timeline-panel h6 {
    border-left: 1px solid #e74c3c; }
.timeline-dark li .timeline-time {
  background-color: #d7d7d7; }
  .timeline-dark li .timeline-time i {
    color: #ffffff; }
.timeline-dark li:hover .timeline-badge {
  background: #e74c3c !important; }
  .timeline-dark li:hover .timeline-badge i:before {
    color: #ffffff; }
.timeline-dark li:hover .timeline-time {
  background-color: #e74c3c; }
.timeline-dark li:hover .timeline-panel {
  background: #e1e1e1; }
.timeline-dark li:hover .timeline-panel:before {
  border-top: 15px solid transparent;
  border-left: 15px solid #e1e1e1;
  border-right: 0 solid #e1e1e1; }
.timeline-dark li:hover .timeline-panel:after {
  border-top: 14px solid transparent;
  border-left: 14px solid #e1e1e1;
  border-right: 0 solid #e1e1e1; }

.timeline-light:before {
  background-color: #cfcfcf; }
.timeline-light .timeline-badge {
  background: #8f8f8f;
  border: 2px solid #ffffff; }
  .timeline-light .timeline-badge i:before {
    color: #ffffff; }
.timeline-light .timeline-panel {
  background: #f7f7f7;
  border: 1px solid #dfdfdf; }
  .timeline-light .timeline-panel:before {
    border-left: 15px solid #e7e7e7;
    border-right: 0 solid #e7e7e7; }
  .timeline-light .timeline-panel:after {
    border-left: 14px solid #e7e7e7;
    border-right: 0 solid #e7e7e7; }
  .timeline-light .timeline-panel h6 {
    border-left: 1px solid #e7e7e7; }
.timeline-light li .timeline-time {
  background-color: #bfbfbf; }
  .timeline-light li .timeline-time i {
    color: #ffffff; }
.timeline-light li:hover .timeline-badge {
  background: #e74c3c; }
  .timeline-light li:hover .timeline-badge i:before {
    color: #ffffff; }
.timeline-light li:hover .timeline-time {
  background-color: #e74c3c; }
.timeline-light li:hover .timeline-panel {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
.timeline-light li:hover .timeline-panel:before {
  border-top: 15px solid transparent;
  border-left: 15px solid #e74c3c;
  border-right: 0 solid #e74c3c; }
.timeline-light li:hover .timeline-panel:after {
  border-top: 14px solid transparent;
  border-left: 14px solid #e74c3c;
  border-right: 0 solid #e74c3c; }
.timeline-light li:hover h6 {
  color: #e74c3c !important; }
.timeline-light li:hover h6 {
  border-color: #e74c3c; }

.timeline-title {
  margin-top: 0;
  color: inherit; }

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0; }

.timeline-body > p + p {
  margin-top: 5px; }

.timeline-bg01,
.timeline-bg01-01,
.timeline-bg02,
.timeline-bg02-01,
.timeline-bg03,
.timeline-bg03-01,
.timeline-bg04,
.timeline-bg04-01 {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(../images/grayscale.svg#greyscale);
  /* Firefox 4+ */
  filter: gray;
  /* IE 6-9 */
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.timeline-bg01 {
  background: url("../images/timeline-1.jpg");
  background-position: center;
  background-size: cover; }

.timeline-bg01-01 {
  background: url("../images/timeline-1-01.jpg");
  background-position: center;
  background-size: cover; }

.timeline-bg02 {
  background: url("../images/timeline-2.jpg");
  background-position: center;
  background-size: cover; }

.timeline-bg02-01 {
  background: url("../images/timeline-2-01.jpg");
  background-position: center;
  background-size: cover; }

.timeline-bg03 {
  background: url("../images/timeline-3.jpg");
  background-position: center;
  background-size: cover; }

.timeline-bg03-01 {
  background: url("../images/timeline-3-01.jpg");
  background-position: center;
  background-size: cover; }

.timeline-bg04 {
  background: url("../images/timeline-4.jpg");
  background-position: center;
  background-size: cover; }

.timeline-bg04-01 {
  background: url("../images/timeline-4-01.jpg");
  background-position: center;
  background-size: cover; }

.timeline-bg05 {
  background: url("../images/timeline-5.jpg");
  background-position: center;
  background-size: cover; }

.timeline-bg05-01 {
  background: url("../images/timeline-5-01.jpg");
  background-position: center;
  background-size: cover; }

/* Counts Block */
.bg-light .counts {
  color: #ffffff; }

.bg-dark .counts {
  color: #ffffff; }

.counts {
  text-align: center; }
  .counts i::before,
  .counts .count, .counts .digit, .counts .count-text {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition-delay: .1s; }
  .counts .count-container {
    text-align: center; }
    .counts .count-container .count-icon {
      width: 64px;
      height: 64px;
      border-radius: 32px;
      margin: 0 auto;
      line-height: 64px; }
      .counts .count-container .count-icon i::before {
        font-size: 24px;
        margin: 0; }
    .counts .count-container .count {
      text-align: center;
      display: inline-block; }
      .counts .count-container .count .digit {
        font-size: 40px;
        line-height: 64px;
        margin: 0;
        padding: 0; }
      .counts .count-container .count .count-text {
        margin-top: 8px;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 3px; }
      .counts .count-container .count:hover {
        cursor: pointer; }

#counts-dark-bg {
  background: url("../images/backgrounds/dark_wood.png"); }
  #counts-dark-bg .count-container .count-icon i::before {
    color: #ffffff; }
  #counts-dark-bg .count-container .count .digit {
    color: #ffffff; }
  #counts-dark-bg .count-container .count .count-text {
    color: #ffffff; }
  #counts-dark-bg .count-container .count:hover {
    color: #e74c3c; }
    #counts-dark-bg .count-container .count:hover i::before {
      color: #e74c3c; }
  #counts-dark-bg .count-container .count:hover .digit, #counts-dark-bg .count-container .count:hover .count-text {
    color: #e74c3c; }

#counts-light-bg .count-container .count-icon {
  background: #ffffff; }
  #counts-light-bg .count-container .count-icon i::before {
    color: #8f8f8f; }
#counts-light-bg .count-container .count .digit {
  color: #3f3f3f; }
#counts-light-bg .count-container .count .count-text {
  color: #3f3f3f; }
#counts-light-bg .count-container .count:hover {
  color: #e74c3c; }
  #counts-light-bg .count-container .count:hover i::before {
    color: #e74c3c; }
#counts-light-bg .count-container .count:hover .digit, #counts-light-bg .count-container .count:hover .count-text {
  color: #e74c3c; }

.grid {
  padding: 0; }
  .grid .row {
    margin-left: 0;
    margin-right: 0; }
    .grid .row .grid-item {
      border: none;
      padding-right: 5px;
      padding-left: 5px; }

.grid {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }

.portfolio-details {
  padding: 14px; }

.portfolio-caption {
  width: 100%;
  background: #f2f2f2;
  padding: 12px 18px 21px 18px;
  text-align: left;
  font-size: 12px; }
  .portfolio-caption p {
    margin: 0;
    line-height: 18px; }
  .portfolio-caption .portfolio-date {
    font-size: 11px;
    line-height: 20px;
    color: #999; }
    .portfolio-caption .portfolio-date a {
      color: #999; }
      .portfolio-caption .portfolio-date a:hover {
        color: #e74c3c;
        text-decoration: none; }
    .portfolio-caption .portfolio-date span {
      position: relative;
      font-size: 14px;
      margin-right: 2px; }
    .portfolio-caption .portfolio-date p {
      display: inline-block;
      margin-right: 10px; }
  .portfolio-caption a {
    color: #bfbfbf; }
  .portfolio-caption h4 {
    margin: 10px 0 5px 0; }
    .portfolio-caption h4 a {
      color: #c7c7c7; }
      .portfolio-caption h4 a:hover, .portfolio-caption h4 a:active, .portfolio-caption h4 a:focus {
        color: #e74c3c;
        text-decoration: none; }
      .portfolio-caption h4 a:visited {
        text-decoration: none; }

.portfolio-item-data ul {
  padding-left: 0; }
  .portfolio-item-data ul li span {
    font-weight: 600; }

.port-filter ul {
  list-style: none;
  padding: 0; }
  .port-filter ul li {
    display: inline-block; }
    .port-filter ul li a {
      position: relative;
      padding: 12px 24px;
      margin-right: 1px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      transition: all 0.35s ease-in-out;
      -moz-transition: all 0.35s ease-in-out;
      -webkit-transition: all 0.35s ease-in-out;
      -o-transition: all 0.35s ease-in-out;
      -ms-transition: all 0.35s ease-in-out; }
      .port-filter ul li a:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 8px 8px 0;
        opacity: 0;
        display: block;
        width: 0;
        z-index: 1;
        margin-left: -8px;
        bottom: -8px;
        left: 50%;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out; }

.port-filter-dark ul li a {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff; }
  .port-filter-dark ul li a:after {
    border-color: #fff transparent; }
  .port-filter-dark ul li a:hover, .port-filter-dark ul li a:focus {
    text-decoration: none;
    background: #e74c3c;
    color: #ffffff; }
  .port-filter-dark ul li a:hover:after, .port-filter-dark ul li a:focus:after {
    border-color: #e74c3c transparent;
    opacity: 1; }

.port-filter-light ul li a {
  background: #f7f7f7;
  color: #3f3f3f; }
  .port-filter-light ul li a:after {
    border-color: #fff transparent; }
  .port-filter-light ul li a:hover, .port-filter-light ul li a:focus {
    text-decoration: none;
    background: #e74c3c;
    color: #ffffff; }
  .port-filter-light ul li a:hover:after, .port-filter-light ul li a:focus:after {
    border-color: #e74c3c transparent;
    opacity: 1; }

/* Portfolio hover */
.item-wrap {
  margin-bottom: 10px; }

figure {
  position: relative;
  overflow: hidden;
  text-align: center; }
  figure img {
    position: relative;
    opacity: 1.0; }
  figure figcaption {
    padding: 1.0em;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    figure figcaption > .fig-description a {
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0; }
    figure figcaption:before, figure figcaption:after {
      pointer-events: none; }
  figure figcaption,
  figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  figure h3 {
    word-spacing: -0.15em;
    font-family: "Montserrat", sans-serif; }
    figure h3 span {
      font-family: "Montserrat", sans-serif; }
  figure h3, figure p {
    margin: 0; }
  figure p {
    letter-spacing: 1px;
    font-size: 68.5%; }

figure.effect-goliath {
  background: #888888; }
  figure.effect-goliath .popup-call {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 1001;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out; }
    figure.effect-goliath .popup-call a:hover, figure.effect-goliath .popup-call a:focus {
      text-decoration: none; }
    figure.effect-goliath .popup-call a i {
      transition: color 0.5s ease-in-out;
      -moz-transition: color 0.5s ease-in-out;
      -webkit-transition: color 0.5s ease-in-out;
      -o-transition: color 0.5s ease-in-out;
      -ms-transition: color 0.5s ease-in-out; }
      figure.effect-goliath .popup-call a i::before {
        font-size: 40px;
        margin-left: 2px;
        color: #ffffff !important; }
      figure.effect-goliath .popup-call a i:hover {
        color: #c7c7c7; }
  figure.effect-goliath figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: 12px; }
    figure.effect-goliath figcaption .fig-description {
      position: absolute;
      left: 40px;
      right: 40px;
      bottom: 30px; }
    figure.effect-goliath figcaption a {
      color: #ffffff;
      font-size: 11px;
      line-height: 20px; }
    figure.effect-goliath figcaption span {
      position: relative;
      margin-right: 2px; }
  figure.effect-goliath img, figure.effect-goliath h3 {
    -webkit-transition: -webkit-transform 3.5s;
    transition: transform 3.5s; }
  figure.effect-goliath img {
    max-width: none;
    width: -webkit-calc(100% + 0px);
    width: calc(100% + 0px);
    opacity: 1;
    -webkit-transition: opacity 0.5s, -webkit-transform 5.5s;
    transition: opacity 0.5s, transform 5.5s;
    -webkit-transform: translate3d(0px, 0, 0) scale(1.12);
    transform: translate3d(0px, 0, 0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  figure.effect-goliath h3 {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 21px;
    opacity: 0;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    figure.effect-goliath h3:before {
      position: absolute;
      content: " ";
      bottom: -5px;
      width: 0;
      border-bottom: 1px dotted #ffffff;
      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      transition: all 0.6s;
      transition-delay: 0.3s; }
  figure.effect-goliath p {
    margin-top: 7px;
    color: #ffffff;
    text-transform: none;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    opacity: 0;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.35s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  figure.effect-goliath:hover .popup-call {
    opacity: 1; }
  figure.effect-goliath:hover img {
    opacity: 0.1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1); }
  figure.effect-goliath:hover h3 {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    figure.effect-goliath:hover h3:before {
      width: 100%;
      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      transition: all 0.6s; }
  figure.effect-goliath:hover p {
    width: 100%;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.captions:hover img {
  opacity: 0.7 !important; }

/*------------------------------------------------------------------
[Homepage Sections]
*/
#homesection h3 {
  margin: 0; }
#homesection .circle-skills .progressbar {
  margin: 16px; }
  #homesection .circle-skills .progressbar .circle {
    text-align: left;
    color: #ffffff; }
    #homesection .circle-skills .progressbar .circle h4 {
      margin-top: 24px;
      letter-spacing: 1px; }
    #homesection .circle-skills .progressbar .circle p {
      line-height: 1.3em;
      color: #ffffff; }
    #homesection .circle-skills .progressbar .circle div {
      margin-left: 28px !important;
      text-align: left !important; }
#homesection .m-details p {
  margin: 0 0 5px 0; }
#homesection .m-details i::before {
  font-size: 32px;
  line-height: 32px;
  margin-left: 14px; }
#homesection .m-details .quote {
  margin: 14px 0; }
  #homesection .m-details .quote h5 {
    padding-top: 4px;
    margin: 0;
    line-height: 1.3em; }
#homesection .personal .box {
  margin: 0 0 11px 0;
  display: block;
  clear: both;
  padding-bottom: 12px;
  border-bottom: 1px dashed #efefef; }
  #homesection .personal .box .one, #homesection .personal .box .two {
    padding: 0 8px 0 0; }
    #homesection .personal .box .one p, #homesection .personal .box .two p {
      margin: 0; }
  #homesection .personal .box .one {
    display: inline-block;
    width: 30%;
    margin-right: 21px;
    z-index: 2;
    padding-top: 2px;
    vertical-align: top; }
    #homesection .personal .box .one p {
      color: #2f2f2f;
      font-weight: 700; }
  #homesection .personal .box .two {
    display: inline-block;
    color: #c7c7c7;
    position: relative;
    width: 60%; }
#homesection .pro-experience .experience {
  overflow: visible;
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  padding-left: 24px;
  margin-left: 7px; }
  #homesection .pro-experience .experience ul {
    margin-bottom: 23px; }
#homesection .pro-experience li.date {
  font-size: 11px;
  margin-bottom: 0;
  color: #ffffff;
  position: relative;
  display: block;
  font-weight: 400;
  line-height: 1.2em;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out; }
#homesection .pro-experience li.company {
  display: block; }
  #homesection .pro-experience li.company a {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out; }
    #homesection .pro-experience li.company a:before {
      position: absolute;
      width: 9px;
      height: 9px;
      border-radius: 4px;
      top: 5px;
      left: -29px;
      background: #ffffff;
      content: ""; }
#homesection .pro-experience li.position {
  margin: 0 0 0 0;
  display: block;
  line-height: 12px;
  color: #ffffff; }
#homesection .pro-experience a, #homesection .pro-experience a:hover, #homesection .pro-experience a:focus {
  text-decoration: none;
  color: #ffffff; }
#homesection .pro-experience a i::before {
  font-size: 32px;
  color: #ffffff;
  line-height: 32px;
  margin-left: 0 !important;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out; }
#homesection .pro-experience a:hover i::before {
  opacity: .5; }
#homesection .clients a img {
  opacity: .4;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out; }
#homesection .clients a:hover img {
  opacity: 1; }

/*------------------------------------------------------------------
[Inner Pages Sections]
*/
.inner-content .inner-section {
  padding: 50px 50px; }
.inner-content .inner-block {
  padding: 0 50px; }

#resume,
#portfolio,
#contacts,
#feedback,
#blog,
#blogpost {
  background-color: #ffffff;
  min-height: 500px; }

#resume #m-details p {
  margin: 0 0 5px 0; }
#resume #m-details i::before {
  font-size: 32px;
  color: #e74c3c;
  line-height: 32px;
  margin-left: 0; }
#resume #m-details .quote {
  margin: 14px 0;
  padding-left: 18px;
  border-left: 2px solid #e74c3c; }
  #resume #m-details .quote h5 {
    padding-top: 4px;
    margin: 0;
    line-height: 1.3em; }

#contacts #contacts-data p {
  line-height: 2em; }

#feedback .feedback .wpcf7-form span.wpcf7-form-control-wrap {
  position: relative; }
#feedback .feedback .wpcf7-form .left-field {
  float: left; }
#feedback .feedback .wpcf7-form .right-field {
  float: right; }
#feedback .feedback .wpcf7-form .left-field, #feedback .feedback .wpcf7-form .right-field {
  width: calc(50% - 5px); }
#feedback .feedback .wpcf7-form input[type="text"], #feedback .feedback .wpcf7-form input[type="email"], #feedback .feedback .wpcf7-form input[type="password"], #feedback .feedback .wpcf7-form input[type="search"], #feedback .feedback .wpcf7-form input[type="url"], #feedback .feedback .wpcf7-form textarea {
  padding: 12px 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 0 0 2px transparent inset;
  box-sizing: border-box;
  margin: 0 0 10px;
  max-width: 100%;
  vertical-align: baseline;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5em;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
#feedback .feedback .wpcf7-form input[type="submit"] {
  width: auto; }
#feedback .feedback #form-messages .alert {
  border-radius: 0; }
#feedback .feedback-dark input[type="text"], #feedback .feedback-dark input[type="email"], #feedback .feedback-dark input[type="password"], #feedback .feedback-dark input[type="search"], #feedback .feedback-dark input[type="url"], #feedback .feedback-dark textarea {
  color: #ffffff;
  background-color: #f7f7f7 !important; }
#feedback .feedback-light input[type="text"], #feedback .feedback-light input[type="email"], #feedback .feedback-light input[type="password"], #feedback .feedback-light input[type="search"], #feedback .feedback-light input[type="url"], #feedback .feedback-light textarea {
  color: #2f2f2f;
  background-color: #ffffff !important; }

#blog .grid .row .grid-item {
  border: none;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 48px; }
#blog .item-wrap {
  margin-bottom: 10px; }
  #blog .item-wrap figure {
    text-align: left; }
    #blog .item-wrap figure .popup-call {
      position: absolute;
      z-index: 10;
      top: 5px;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out; }
      #blog .item-wrap figure .popup-call a i:before {
        font-size: 38px;
        color: #ffffff; }
    #blog .item-wrap figure:hover .popup-call {
      opacity: 1; }
    #blog .item-wrap figure p {
      font-size: 13px; }
    #blog .item-wrap figure img {
      margin-bottom: 24px; }
    #blog .item-wrap figure figcaption {
      padding: 0;
      position: relative;
      color: #dfdfdf;
      text-transform: none; }
      #blog .item-wrap figure figcaption a {
        color: #3f3f3f; }
        #blog .item-wrap figure figcaption a:hover, #blog .item-wrap figure figcaption a:focus {
          color: #e74c3c;
          text-decoration: none; }
      #blog .item-wrap figure figcaption .post-meta {
        text-transform: uppercase;
        color: #676767;
        font-size: 11px; }
        #blog .item-wrap figure figcaption .post-meta span {
          margin-right: 3px; }
      #blog .item-wrap figure figcaption .post-header {
        text-transform: uppercase; }
        #blog .item-wrap figure figcaption .post-header h5 {
          font-size: 15px;
          letter-spacing: 2px;
          line-height: 23px;
          font-weight: 600;
          margin-top: 5px;
          margin-bottom: 14px; }
      #blog .item-wrap figure figcaption .post-entry {
        margin-bottom: 21px; }
      #blog .item-wrap figure figcaption .post-tag {
        color: #dfdfdf;
        text-transform: uppercase;
        font-size: 13px; }
        #blog .item-wrap figure figcaption .post-tag span {
          margin-right: 10px;
          letter-spacing: 1px; }
      #blog .item-wrap figure figcaption .post-more-link {
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 22px; }
        #blog .item-wrap figure figcaption .post-more-link a i {
          margin-left: 5px;
          transition: all 0.25s ease 0s;
          -o-transition: all 0.25s ease 0s;
          -moz-transition: all 0.25s ease 0s;
          -webkit-transition: all 0.25s ease 0s; }

#blogpost .post-meta {
  text-transform: uppercase;
  color: #676767;
  font-size: 13px; }
  #blogpost .post-meta span {
    margin-right: 3px; }
#blogpost .post-tag {
  color: #dfdfdf;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 8px; }
  #blogpost .post-tag span {
    margin-right: 10px;
    letter-spacing: 1px; }
#blogpost hr {
  margin-bottom: 45px; }
#blogpost #comments img {
  width: 64px;
  height: 64px; }
#blogpost #comments .media {
  margin-top: 40px; }
#blogpost #comments .post-author {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600; }

/*------------------------------------------------------------------
[Footer]
*/
footer {
  padding-bottom: 18px !important;
  padding-top: 21px !important;
  color: #b7b7b7; }
  footer .cv-link a {
    display: inline-block;
    padding: 4px 8px 4px 0;
    margin-bottom: 4px;
    border-radius: 4px;
    color: #b7b7b7; }
    footer .cv-link a:hover, footer .cv-link a:focus {
      color: #ffffff; }
    footer .cv-link a:hover i {
      background: #dfdfdf; }
    footer .cv-link a i {
      width: 17px;
      height: 17px;
      border-radius: 8px;
      background: #8f8f8f;
      margin-right: 6px;
      padding-top: 2px;
      transition: all 0.35s ease-in-out;
      -moz-transition: all 0.35s ease-in-out;
      -webkit-transition: all 0.35s ease-in-out;
      -o-transition: all 0.35s ease-in-out;
      -ms-transition: all 0.35s ease-in-out; }
      footer .cv-link a i:before {
        font-size: 11px !important;
        padding-left: 6px; }
  footer input {
    border-color: #7f7f7f;
    margin-bottom: 8px;
    padding: 4px 8px;
    border-radius: 0;
    color: #ffffff; }
  footer h4 {
    color: #efefef; }
  footer p {
    padding-top: 10px;
    font-size: 12px;
    color: #b7b7b7; }
  footer a:hover, footer a:focus {
    text-decoration: none; }
  footer .follow {
    margin-top: 21px; }
    footer .follow .social li a i {
      background: #676767;
      width: 32px;
      height: 32px;
      padding: 12px 0;
      border-radius: 50%;
      font-size: 13px;
      line-height: 7px;
      text-align: center;
      transition: all 0.35s ease-in-out;
      -moz-transition: all 0.35s ease-in-out;
      -webkit-transition: all 0.35s ease-in-out;
      -o-transition: all 0.35s ease-in-out;
      -ms-transition: all 0.35s ease-in-out; }
      footer .follow .social li a i:before {
        color: #efefef; }
      footer .follow .social li a i:hover {
        background: #e74c3c; }
        footer .follow .social li a i:hover:before {
          color: #ffffff; }
  footer .copyrights p {
    padding-top: 4px;
    font-size: 11px;
    color: #dfdfdf; }

/*------------------------------------------------------------------
[Google Map]
*/
#google-map {
  width: 100%; }
  #google-map img {
    max-width: none; }

.bigmap {
  height: 400px !important; }

/* Google map Slide-out */
#gm-panel {
  width: 100%;
  background: #eeeeee;
  text-align: center;
  /*z-index: 9;*/
  bottom: 300px;
  display: block; }

.ui-bg-color01 {
  background-color: #3f3f3f !important; }

.ui-bg-color02 {
  background-color: #373737 !important; }

.ui-block-color01 {
  background-color: #efefef !important; }

.ui-block-color02 {
  background-color: #8f8f8f !important; }

.ui-block-color03 {
  background-color: #878787 !important; }

.ui-menu-color01 {
  background-color: #474747 !important; }

.ui-menu-color02 {
  background-color: #3f3f3f !important; }

.ui-menu-color03 {
  background-color: #373737 !important; }

.ui-menu-color04 {
  background-color: #2f2f2f !important; }

.ui-menu-color05 {
  background-color: #272727 !important; }

.ui-menu-color06 {
  background-color: #1f1f1f !important; }

.pro-experience h3 {
  color: #ffffff; }

.circle-skills h3 {
  color: #ffffff; }

.name-title {
  color: #ffffff; }

.boxed {
  background-image: url("../images/backgrounds/grey_wash_wall.png"); }

/*# sourceMappingURL=style.css.map */
